@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --color-background: #F4EFF3;
  --color-foreground: #181818;
  --color-primary: #F82E08;
  --color-secondary: #889797;
  --color-muted: #9fa5af;
  --color-accent: #45464E;
  --color-card: #ffdada;
  --color-border: #F82E08;
}

.dark * {
  --color-background: #0f1215;
  --color-foreground: #fafafb;
  --color-primary: #F82E08;
  --color-secondary: #889797;
  --color-muted: #9fa5af;
  --color-accent: #45464E;
  --color-card: #ffdada;
  --color-border: #F82E08;
}

@layer components {
  .username {
    @apply text-foreground font-bold;
  }
}
